body {
  font-family: "Humnst777 Blk BT" 'Myriad Pro', 'Trebuchet MS', sans-serif;
  background-repeat:no-repeat;
}
.logout input[type="submit"]{
	margin-left:50px;
	display:block;
  padding: 7px 0;
  width: 150px;
  font-size: 13px;
  font-weight:normal;
  border: 10;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color: #f6ba35;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.dept input[type="submit"] {
  display:block;
  padding: 10px 0;
  width: 200px;
  font-size: 13px;
  font-weight: bold;
  border: 10;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color: #f6ba35;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.dept
{
	width:200px;
}
.logout{
	width:200px;
	height:auto;
}
.rollno{
	width:600px;
}
