.logout input[type="submit"]{
	margin-left:50px;
	display:block;
  padding: 7px 0;
  width: 130px;
  font-size: 13px;
  font-weight:normal;
  border: 10;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color: #f6ba35;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.back input[type="submit"]{
	display:block;
  padding: 5px 0;
  width:70px;
  font-size: 13px;
  font-weight:normal;
  border: 10;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color:#C60;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.choice1 input[type="submit"]{
	display:block;
  padding: 5px 0;
  margin-left:270px;
  margin-top:40px;
  width:140px;
  font-size: 13px;
  font-weight:bold;
  border: 10;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color:#C60;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.choice2 input[type="submit"]{
	display:block;
  padding: 5px 0;
  margin-left:100px;
  margin-top:20px;
  width:140px;
  font-size: 13px;
  font-weight:bold;
  border: 10;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color:#C60;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.choice3 input[type="submit"]{
	display:block;
  padding: 5px 0;
  margin-left:100px;
  width:140px;
  font-size: 13px;
  font-weight:bold;
  border: 10;
  text-shadow: 0px 1px 0px rbga(255, 255, 255, 1);
  background-color:#C60;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(90deg, #eca418, #ffcd4e);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}